:root {
	/* Background colour in HSL */
	--bg-h: 0;
	--bg-s: 0%;
	--bg-l: 98%;

	/* Main text colour in HSL */
	--txt-h: 0;
	--txt-s: 0%;
	--txt-l: 20%;

	/* Sidebar colour in HSL */
	--sb-h: 228;
	--sb-s: 54%;
	--sb-l: 64%;

	/* Sidebar text colour in HSL */
	--sbtxt-h: 0;
	--sbtxt-s: 0%;
	--sbtxt-l: 98%;
}
